html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

map {
  /*z-index: -1;*/
}

#sala {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.black {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s ease-in-out 0.4s;
  visibility: hidden;
}

.black.animate {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}
.black.pinhole {
  transition: all 1s ease-in-out;
}
.black.block {
  visibility: visible;
  z-index: 5;
}

area {
  display: block;
}

img {
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  pointer-events: none;
  z-index: 1;
}

#shelf_overlay {
  background: url('../images/bookshelf+shadow.png') top left;
  background-size: contain;
  background-repeat: no-repeat;
  filter: sepia(50%);
}

#portrait_overlay {
  background: url('../images/portrait.png') top left;
  background-size: contain;
  background-repeat: no-repeat;
  filter: sepia(50%);
}

#chair_overlay {
  background: url('../images/chair+shadow.png') top left;
  background-size: contain;
  background-repeat: no-repeat;
  filter: sepia(50%);
}

#frames_overlay {
  background: url('../images/frames.png') top left;
  background-size: contain;
  background-repeat: no-repeat;
  filter: sepia(50%);
}

#table_overlay {
  background: url('../images/table.png') top left;
  background-size: contain;
  background-repeat: no-repeat;
  filter: sepia(50%);
}

#shelf:hover ~ #shelf_overlay,
#portrait:hover ~ #portrait_overlay,
#chair:hover ~ #chair_overlay,
#frames:hover ~ #frames_overlay,
#table:hover ~ #table_overlay {
  display: block;
}

.mask {
  animation-duration: 1.6s;
  animation-name: pinhole;
  animation-iteration-count: 1;
}

@keyframes pinhole {
  0% {
    mask: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 100%);
  }
  50% {
    mask: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 50%);
  }
  100% {
    mask: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 0%);
  }
}
.final_mask {
    mask: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 0%);
}

#bg {
  will-change: mask;
  transition: transform 1s ease-in-out;
}

.up {
  transform: translateY(-5%);
}

.transition_1{
  position: absolute;
  top: 0;
  left: 0;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

.transition_1.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  z-index: 6;
}
